<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
	<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
	<main class="container">
		<section class="about">
			<img src="{{ "/assets/pic.jpg" | relative_url }}" alt="{{ site.plainwhite.name }}" title="Moses Prasad Varghese">
			<ul class="social">
                {%- if site.plainwhite.email -%}
				<a href="mailto:{{ site.plainwhite.email }}"><li><i class="fa fa-envelope"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.linkedIn -%}
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.github -%}
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="fa fa-github-square"></i></li></a>
                {%- endif -%}
			</ul>
			<ul class="social">
                {%- if site.plainwhite.social_links.gScholar -%}
				<a href="https://scholar.google.com/citations?user={{site.plainwhite.social_links.gScholar }}"><li><i class="ai ai-google-scholar ai-3x"></i></li></a>
                {%- endif -%}
	        {%- if site.plainwhite.social_links.sScholar -%}
		        <a href="https://orcid.org/{{site.plainwhite.social_links.ORCID }}"><li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12s12-5.372 12-12S18.628 0 12 0zM7.369 4.378c.525 0 .947.431.947.947s-.422.947-.947.947a.95.95 0 0 1-.947-.947c0-.525.422-.947.947-.947zm-.722 3.038h1.444v10.041H6.647V7.416zm3.562 0h3.9c3.712 0 5.344 2.653 5.344 5.025c0 2.578-2.016 5.025-5.325 5.025h-3.919V7.416zm1.444 1.303v7.444h2.297c3.272 0 4.022-2.484 4.022-3.722c0-2.016-1.284-3.722-4.097-3.722h-2.222z"/></svg></li></a>
                {%- endif -%}
                {%- if site.plainwhite.social_links.sScholar -%}
			<a href="https://www.scopus.com/authid/detail.uri?authorId={{site.plainwhite.social_links.Scopus }}"><li><i class="icon-simple-icons:scopus"></i></li></a>
                {%- endif -%}

			</ul>
		{%- if site.plainwhite.dark_mode -%}
			<div class="about-footer {{condensed_class}}">
			<p>Dark Mode
			 <i class="icon-moon"></i>
			  <label class="switch">
			   <input type="checkbox" class="dark-mode-toggle">
			   <span class="slider round" onclick="toggleDarkMode()"></span>
			  </label>
			</p>
			</div>
		{%- endif -%}
		</section>
		<section class="content">
                {%- if site.plainwhite.content -%}
			<h1>{{ site.plainwhite.name }}</h1>
			{{ site.plainwhite.content }}
                {%- endif -%}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
